* @northgraindata/maintainers

/.github/ @northgraindata/maintainers
/packages/core/ @northgraindata/maintainers
/packages/adapter-sdk/ @northgraindata/maintainers
/packages/server/ @northgraindata/maintainers
